* {
    --md-default-fg-color:              var(--doc-text);
    --md-default-fg-color--light:       var(--doc-text-muted);
    --md-default-fg-color--lighter:     var(--doc-text-muted2);
    --md-default-fg-color--lightest:    var(--doc-bg);

    --md-default-bg-color:              var(--doc-bg-dark);
    --md-default-bg-color--light:       var(--doc-bg);
    --md-default-bg-color--lighter:     var(--doc-bg-light);
    --md-default-bg-color--lightest:    var(--doc-bg-light);

    --md-primary-fg-color:              var(--doc-accent);
    --md-primary-fg-color--light:       var(--doc-accent-light);
    --md-primary-fg-color--dark:        var(--doc-accent-dark);

    --md-primary-bg-color:              var(--doc-text);
    --md-primary-bg-color--light:       var(--doc-text);
    --md-primary-bg-color--dark:        var(--doc-text);

    --md-typeset-color:                 var(--md-default-fg-color);
    --md-typeset-a-color:               var(--md-primary-fg-color);
    --md-typeset-mark-color:            var(--doc-accent-transparent);

    --md-admonition-fg-color:           var(--doc-text);
    --md-admonition-bg-color:           var(--doc-bg);

    --md-footer-fg-color:              var(--doc-text);
	--md-footer-fg-color--light:       var(--doc-text-muted);
	--md-footer-fg-color--lighter:     var(--doc-text-muted);
	--md-footer-bg-color:              var(--doc-bg-dark);
	--md-footer-bg-color--dark:        var(--doc-bg-dark);

    --md-typeset-table-color: rgb(from var(--doc-text) r g b / 0.2);
}